@model IEnumerable<Nhom9_WebsiteGiaySneaker.Models.Brand>

@{
    ViewBag.Title = "Brand";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<ul>
    @foreach (var item in Model)
    {
        <li>

            <a href="@Url.Action("SanPhamTheoBrand","SanPham", new {@maB=item.MaBrand })" style="text-transform:uppercase; text-decoration:none;">@item.TenBrand  </a>

        </li>
    }

</ul>